body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
    padding-top:70px;
	width: 390px;
    margin: 20px auto;
    position: relative;
}
.inner-long {
    margin-bottom: 6px;
    transition: 0.4s ease-out;
    border-radius: 10px;
    opacity: 1;
    
}

.inner-long:hover {
    background: rgb(10, 133, 216);
    opacity: 0.7;
}
.btns {
    margin-top: 100px;
    display: flex;
	flex-direction: column;
}

.inner {
    display: flex;
    flex-direction: row;
}
.inner-inside {
    margin-bottom: 7px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header {
    margin: 0;
    text-align: center;
    color: #7371e0;
    padding-bottom: 40px;
}

.img {
	width: 150px;
    border-radius: 10%;
    margin-left: 30%;
    transform: scale(1.37);
}

.item {
	text-align: center;
    border-color: white;
    border-style: solid;
    border-width: 1px 1px;
    margin-bottom: 5px;
    transition: 0.4s ease-out;
    opacity: 1;
    border-radius: 10px;
}

.item:hover {
    background: rgb(10, 133, 216);
    opacity: 0.7;
}

.btn-link {
    text-align: center;
    width:100%;
	display: inline-block;
    cursor: pointer;
	padding: 10px 0px;
	border: none;
	background: #7371e0;
	border-radius: 10px;
    text-decoration: none;
	color: #fff;
	font-weight: 700;
	/* transition: 0.3s ease-out;
    opacity: 1; */
}

.btn {
    width: 100%;
	display: inline-block;
    cursor: pointer;
	padding: 10px 20px;
	border: none;
	background: #7371e0;
	border-radius: 10px;
	color: #fff;
	font-weight: 700;
	transition: 0.3s ease-out;
    opacity: 1;
}

.btn:first-of-type {
    margin-bottom: 40px;
}

.btn:hover {
	background: rgb(10, 133, 216);
    opacity: 0.7;
}

.btn_edit-profile {
    width:154px;
    margin-left: 120px;
    cursor: pointer;
	padding: 10px 20px;
	border: none;
	background: #7371e0;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.3s ease-out;
    opacity: 1;
}

.usercard {
	text-align: right;
    font-size: 20px;
    color: #7371e0;
}
.langbox {
    position: absolute;
    right:10px;
    top:41px;
}
.language-selector {
    border-radius: 10px;
    color: #7371e0;
    border-style: solid;
    border-width: 1px 1px;
}