body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	width: 390px;
    margin: 20px auto 0;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
	width: 150px;
    border-radius: 10%;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
    cursor: pointer;
	padding: 10px 20px;
	border: none;
	background: #7371e0;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.3s ease-out;
    opacity: 1;
}

.btn:hover {
	background: rgb(10, 133, 216);
    opacity: 0.7;
}

.btn_avatar {
    width:154px;
    margin-left: 120px;
    cursor: pointer;
	padding: 10px 20px;
	border: none;
	background: #7371e0;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.3s ease-out;
    opacity: 1;
}

.usercard {
	text-align: right;
    font-size: 20px;
    color: #7371e0;

}

.radio_inputs {
    display: flex;
    flex-direction: row;
}
.radio_input {
    margin:0;
    padding:0;
}
.radio_input:last-of-type {
    margin-left: 20px;
}

.radio_label {
    margin-left: 5px;
}

.auth__input{
    margin-top: 10px;
}
.phone_paragraph {
    margin:0;
    margin-top: 12px;
    margin-bottom: 10px;
}
.name_paragraph {
    margin:0;
    margin-top: 12px;
}

.gender_paragraph {
    margin:0;
    margin-top: 12px;
}

/* popup */

.popup {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    transition: visibility .4s, opacity .4s linear;
    opacity: 0;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
  }

.popup__container{
    max-width: 287px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  .popup__form {
    box-sizing: border-box;
    padding: 10px 36px 10px 36px;
    background: #FFFFFF;
    border-radius: 10%;
    width: 230px;
  }
  
  .popup__input {
    margin: 0;
    padding: 5px 9px 6px 5px;
    width: 188px;
    height: 14px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    transition: padding .3s ease;
  }
  

  .popup__fieldset {
    padding: 0;
    margin: 0;
    border: none;
    text-align: left;
    box-sizing: border-box;
  }
  
  .popup__header {
    margin: 0;
    text-align: left;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    color: #000000;
    padding: 26px 64px 0 36px;
    margin-top: 4px;
  }

  .popup__submit {
    margin-top: 43px;
    margin-left: 46px;
  }