body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	width: 390px;
    margin: 20px auto 0;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
	width: 150px;
    border-radius: 10%;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
    cursor: pointer;
	padding: 10px 20px;
	border: none;
	background: #7371e0;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.3s ease-out;
    opacity: 1;
}

.btn:hover {
	background: rgb(10, 133, 216);
    opacity: 0.7;
}

.usercard {
	text-align: center;
    font-size: 20px;
    color: #7371e0;
}