<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>Beauty procedures</title>
  </head>

  <body>
    <div class="container__about">
      <div class="image__about-container">
        <img class="image__about" src="/images/Без названия.png" />
      </div>
      <p class="info">
        &#8520; Информация о приложении: <br /><br />Версия программы: 1.0.3
        <br /><br />По всем вопросам обращаться к: @Prudey69 & @Dstels и к
        <span id="testfromserver" class="testfromserver"></span>
      </p>
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script type="module" src="/js/about.js"></script>
  </body>
</html>
