<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mynotes.css" />
    <title>Beauty procedures</title>
  </head>

  <body>
    <div class="mynotes__container">
      <h1 class="mynotes__header">Мои будущие процедуры:</h1>
      <div class="mynotes__image-container">
        <img class="mynotes__image" src="/images/Без названия.png" />
      </div>
      <p class="textwithoutnotes">Ваша история записей еще пуста :(</p>
    </div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script type="module" src="/js/mynotes.js"></script>
  </body>
</html>
