<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/errors.css" />
    <title>Beauty procedures</title>
  </head>

  <body>
    <div class="popup popup_opened popup_type_edit-avatar" id="popup">
      <div class="profile__container">
        <h2 class="profile__header">Мои Данные:</h2>
        <form
          id="formEditProfile"
          name="form-edit-profile"
          class="profile__form popup__form_edit-profile"
          novalidate
        >
          <fieldset class="profile__fieldset">
            <p id="userID" class="profile__id">Ваш ID:</p>
            <p class="name_paragraph">Введите ваше имя:</p>
            <input
              id="name-input"
              class="profile_name popup__input popup__input_type_edit-name"
              name="name"
              required
              placeholder="Имя"
              type="url"
            />
            <div
              class="form__inputs_error name__input-error"
              id="name-input-error"
            >
              Введите ваше имя
            </div>

            <p class="gender_paragraph">Выберите ваш пол:</p>
            <div class="radio_inputs">
              <input
                type="radio"
                class="profile_gender popup__input"
                id="m_gender"
                name="gender"
                value="М"
                checked
              />
              <label class="radio_label" for="m_gender">М</label><br />
              <!-- <div
                class="form__inputs_error gender__input-error"
                id="m_gender-error"
              >
                Выберите ваш пол
              </div> -->
              <input
                type="radio"
                class="profile_gender popup__input"
                id="f_gender"
                name="gender"
                value="Ж"
              />
              <label class="radio_label" for="f_gender">Ж</label><br />
              <div
                class="form__inputs_error gender__input-error"
                id="gender-error"
              >
                Нужно указать ваш пол
              </div>
            </div>

            <div class="inputs__container">
              <p class="phone_paragraph">Введите ваш номер телефона:</p>
              <input
                class="profile_number popup__input"
                id="phoneNumber"
                type="tel"
                value=""
                name="phoneNumber"
                aria-label="Please enter your phone number"
                placeholder="+7(921)000-00-00"
              />
              <div
                class="form__inputs_error phone__input-error"
                id="phoneNumber-error"
              >
                Введите ваш номер телефона
              </div>
              <p class="email_paragraph">Введите вашу почту:</p>
              <input
                id="email-input"
                class="profile_email popup__input"
                type="email"
                name="email"
                required
                placeholder="Email"
              />
              <div
                class="form__inputs_error email__input-error"
                id="email-input-error"
              >
                Некорректный адрес почты
              </div>
            </div>
            <button
              type="submit"
              id="submitButton"
              disabled
              class="profile__submit popup__submitAddCard"
            >
              Сохранить
            </button>
          </fieldset>
        </form>
        <!-- <button type="button" class="profile__close" id="close-btn"></button> -->
      </div>
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script type="module" src="/js/profile.js"></script>
    <!-- <script type="module" src="/js/preprofile.js"></script> -->
  </body>
</html>
